body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
        
  }

h2 {
    background-color: rgb(255, 230, 0);
    
}


div{
    touch-action: pinch-zoom; /* iOS */
    -ms-touch-action: none;   /* IE10 */    
    touch-action: none;        /* Firefox/Chrome, Android browser, Opera, Safari */
    text-align: left;
    text-shadow: darkorange;
    
    }



